name: Simple CI
  
on: [push, pull_request]
  

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run simple check
        run: echo "CI pipeline is running"